/* My Journey Styles Settings */

.head-flex-box {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    background-color: #3a4b53;
    height: 50%;
    width: 100%;
}

.head-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Futura', sans-serif;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    font-family: 'Futura', sans-serif;
}

#navbar ul li {
    margin: 5px 20px; /* Add spacing between navbar items */
    font-family: 'Futura', sans-serif;
}

#navbar .nav-link {
    display: inline-block; /* Limits clickable link area to text */
    text-decoration: none;
    color: rgb(70, 175, 245);
    padding: 7px 10px;
    font-family: 'Futura', sans-serif;
    border: 2px solid rgb(90, 129, 155); /* Add border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effect */
}

#navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten the background on hover */
    border-radius: 4px; /* Rounded corners for the hover effect */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 113, 133);
    font-family: 'Futura', sans-serif;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    font-family: 'Futura', sans-serif;
}

.content {
    font-weight: bold;
    font-family: 'Futura', sans-serif;
}

.timeline-container {
    flex: 0 0 200px; /* Fixed width for the timeline container */
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative
}

.events {
    flex: 1;
}

.timeline {
    margin-top: -10%;
    position: absolute; /* Change to sticky to keep it in place within its container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-year {
    margin: 500% 0; /* Controls the spacing between the years */
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}
  
.event {
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 300px 50px 230px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Hide overflow content */
    width: 300px; /* Set a fixed width */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event-1 {
    left: 4%; 
}

.event-2 {
    left: 10%; 
}

.event-3 {
    left: 25%; 
}

.event-4 {
    left: 17%; 
}

.event-6 {
    right: 10%; 
}

.event-7 {
    right: 17%; 
}

.event-8 {
    right: 9%; 
}


.event:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.details {
    text-align: left;
    color: #343434;
    max-height: none; /* Remove max-height restriction */
    overflow: visible; /* Ensure overflow is visible */
    margin-top: 10px;
}

.event-blue {
    background-color: rgb(117, 186, 251); /* Light blue */
}

.cntr-txt {
    text-align: center;
    font-family: 'Futura', sans-serif;
}

h1 {
    font-family: 'Futura', sans-serif;
    color: rgb(117, 186, 251);
}

h3{
    font-family: 'Futura', sans-serif;
    padding-bottom: 5%;
}

.divider {
    height: 5px;
    width: 90%;
    background-color: #000; /* Color of the line */
}

.return-icon {
    margin-left: 75%;
    padding-bottom: 2%;
}

.p-spacing {
    margin-bottom: 0em;
    margin-top: 0.2em;
    font-family: 'Futura', sans-serif;
  }

  @font-face {
    font-family: 'Futura';
    src: url('path/to/aptos-font.woff') format('woff');
}

@media only screen and (max-width: 1200px) {
    .event {
        width: 350px; /* Adjust width for smaller screens */
        height: 250px; /* Adjust height for smaller screens */
        margin: 10px 200px 50px 150px; /* Adjust margins for smaller screens */
    }
    .timeline-year {
        margin: 620% 0; /* Adjust spacing between the years */
    }
    
}

@media only screen and (max-width: 800px) {
    .event {
        width: 200px; /* Adjust width for smaller screens */
        height: auto; /* Adjust height for smaller screens */
        margin: 100px 100px 50px 150px; /* Adjust margins for smaller screens */
    }

    .timeline-year {
        margin: 500% 0; /* Adjust spacing between the years */
    }
    
}

@media only screen and (max-width: 600px) {
    .event {
        width: 150px; /* Adjust width for smaller screens */
        height: auto; /* Adjust height for smaller screens */
        margin: 10px 50px 50px 50px; /* Adjust margins for smaller screens */
    }

    .timeline {
        margin-top: 0;
        position: relative; /* Change to relative for smaller screens */
    }

    .timeline-year {
        margin: 800% 0; /* Adjust spacing between the years */
    }
}