/* Publication Styles Settings */

.head-flex-box {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    background-color: #3a4b53;
    height: 50%;
    width: 100%;
}

.head-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Futura', sans-serif;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    font-family: 'Futura', sans-serif;
}

#navbar ul li {
    margin: 5px 20px; /* Add spacing between navbar items */
    font-family: 'Futura', sans-serif;
}

#navbar .nav-link {
    display: inline-block; /* Limits clickable link area to text */
    text-decoration: none;
    color: rgb(70, 175, 245);
    padding: 7px 10px;
    font-family: 'Futura', sans-serif;
    border: 2px solid rgb(90, 129, 155); /* Add border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effect */
}

#navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten the background on hover */
    border-radius: 4px; /* Rounded corners for the hover effect */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 113, 133);
    margin-bottom: 0px;
    font-family: 'Futura', sans-serif;
}

.card-container {
    display: block;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 3%;
    
}

.card {
    background-color: rgb(117, 186, 251);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: auto; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 3%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Card title */
.card h3, h4{
    margin-left: 5%;
    margin-right: 5%;
    color: #333;
    font-family: 'Futura', sans-serif;
    line-height: 1.4;
}

h1 {
    color: rgb(117, 186, 251);
}

.title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    font-family: 'Futura', sans-serif;
}

h3.j-label {
    margin-bottom: -0.8em; /* Adjust the value as needed to reduce space */
}

h3.title {
    margin-top: 4%;
    font-family: 'Georgia', sans-serif;
    font-weight: bold;
    color: black
}

h4.auth {
    font-family: 'Lato', sans-serif;
}

em {
    color: #137577; /* Change this to the desired color */
    font-style: italic; /* Optional: Ensure the text is italicized */
}

ul li.cite{
    font-size: large;
    padding-bottom: 7%;
}

.divider {
    height: 5px;
    width: 90%;
    background-color: #000; /* Color of the line */
    margin:  0; /* Adjust margin as needed */
    font-family: 'Futura';
}

.return-icon {
    margin-left: 65%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.return-icon:hover {
    transform: translateY(-5px);
}

  @font-face {
    font-family: 'Futura';
    src: url('path/to/futura.woff2') format('woff2'),
         url('path/to/futura.woff') format('woff');
}

  @media only screen and (max-width: 200px) {
      img {
      width: 25%;
      object-fit: cover;
      }
}