/* Publication Styles Settings */

.head-flex-box {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    background-color: #3a4b53;
    height: 50%;
    width: 100%;
}

.head-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Hanken Grotesk', sans-serif;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the flex items horizontally */
    flex-wrap: wrap;
    font-family: 'Hanken Grotesk', sans-serif;
}

#navbar ul li {
    margin: 5px 20px; /* Add spacing between navbar items */
    font-family: 'Hanken Grotesk', sans-serif;
}

#navbar .nav-link {
    display: inline-block; /* Limits clickable link area to text */
    text-decoration: none;
    color: rgb(70, 175, 245);
    padding: 7px 10px;
    font-family: 'Hanken Grotesk', sans-serif;
    border: 2px solid rgb(90, 129, 155); /* Add border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effect */
}

#navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten the background on hover */
    border-radius: 4px; /* Rounded corners for the hover effect */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 113, 133);
    margin-bottom: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.card-container {
    display: block;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 3%;

}

.card {
    background-color: rgb(117, 186, 251);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    height: auto; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 3%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Card title */
.card h3, h4{
    margin-left: 5%;
    margin-right: 5%;
    color: #333;
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1.4;
}

h1 {
    color: #000;
}

.title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    font-family: 'Hanken Grotesk', sans-serif;
}

h3.j-label {
    margin-bottom: -0.8em; /* Adjust the value as needed to reduce space */
}

h3.title {
    margin-top: 4%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    color: black
}

h4.auth {
    font-family: 'Hanken Grotesk', sans-serif;
}

em {
    color: #137577; /* Change this to the desired color */
    font-style: italic; /* Optional: Ensure the text is italicized */
}

ul li.cite{
    font-size: large;
    padding-bottom: 7%;
}

.divider {
    position: relative;
    height: 1.4rem;
    width: 90%;
    overflow: hidden;
    color: rgb(117, 186, 251);
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.4rem;
    margin:  0; /* Adjust margin as needed */
    opacity: 0.9;
    -webkit-mask-image: linear-gradient(to right, transparent, #000 8%, #000 92%, transparent);
    mask-image: linear-gradient(to right, transparent, #000 8%, #000 92%, transparent);
}

.divider::before {
    content: "01000101 01110011 01110100 01100101 01100010 01100001 01101110 00100000 01000100 01100001 01110100 01100001 00100000 01000011 01101111 01100100 01100101 00100000 01000001 01001001 00100000 01010011 01010001 01001100 00100000 01010000 01111001 01110100 01101000 01101111 01101110";
    display: block;
    white-space: nowrap;
}

.return-icon {
    margin-left: 65%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.return-icon:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 200px) {
    img {
    width: 25%;
    object-fit: cover;
    }
}
